# Part 2 - Capstone Project - Segmenting and Clustering Neighborhoods in Toronto -  Adding Geospatial data to exsiting dataframe

### Required imports

In [ ]:
import requests
import pandas as pd

### Converting the data in wikipedia page to a csv file

In [2]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

tables = pd.read_html(response.text)

tables[0].to_csv("Canada_data.csv")

# write holiday table data into `holiday_data` csv file

In [3]:
df = pd.read_csv("Canada_data.csv")
df.head()

   Unnamed: 0 Postal Code           Borough               Neighborhood
0           0         M1A      Not assigned                        NaN
1           1         M2A      Not assigned                        NaN
2           2         M3A        North York                  Parkwoods
3           3         M4A        North York           Victoria Village
4           4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Data Cleaning

In [4]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [20]:
df = df[df.Borough != 'Not assigned']
df = df.reset_index()
df = df.drop(['index'], axis=1)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Total number of rows in the dataframe

In [21]:
df.shape

(103, 3)

# Adding Geospatial data to the data frame

In [27]:
df_geodata = pd.read_csv('http://cocl.us/Geospatial_data')
df_geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [30]:
geospatial_data = df.merge(df_geodata, on='Postal Code')
geospatial_data.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [32]:
geospatial_data.shape

(103, 5)