In [1]:
import requests
import pandas as pd

In [2]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

tables = pd.read_html(response.text)

tables[0].to_csv("Canada_data.csv")

# write holiday table data into `holiday_data` csv file

In [3]:
df = pd.read_csv("Canada_data.csv")
df.head()

   Unnamed: 0 Postal Code           Borough               Neighborhood
0           0         M1A      Not assigned                        NaN
1           1         M2A      Not assigned                        NaN
2           2         M3A        North York                  Parkwoods
3           3         M4A        North York           Victoria Village
4           4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [20]:
df = df[df.Borough != 'Not assigned']
df = df.reset_index()
df = df.drop(['index'], axis=1)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [21]:
df.shape

(103, 3)